@model NewsletterSignup;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book of Spells &amp; Illumination</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white d-print-none mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="home" asp-action="index">Book of Spells &amp; Illumination</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-2">
                            <a class="nav-link" asp-area="" asp-controller="home" asp-action="index">Featured Spells <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" asp-area="" asp-controller="spellbook" asp-action="index">Visit the Spellbook</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" asp-area="" asp-controller="spellbook" asp-action="castspell">Cast a Spell</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" asp-area="" asp-controller="home" asp-action="contact">Send a Raven</a>
                        </li>
                    </ul>
                    <form asp-controller="home" asp-action="search" method="post" class="form-inline my-2 my-lg-0">
                        <input name="search" class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </div>
        </nav>
    </header>


    <main role="main" class="pb-3">
        <div class="container-fluid mb-5">
            @RenderBody()
        </div>
    </main>


    <section id="newsletterSignup" class="mx-sm-3 mb-5">
        <div class="jumbotron bg-darkgray text-center text-light">
            <div class="row align-items-center mx-0 px-sm-5">
                <div class="col-12">
                    <p class="h2 mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                </div>
                <div class="col-12">
                    <form method="post" class="input-group justify-content-center">
                        <input type="email" asp-for="EmailAddress" class="form-control" placeholder="Email" aria-label="Email address" required>
                        <div class="input-group-append">
                            <button class="btn bg-lightgray" type="submit">Signup</button>
                        </div>
                    </form>
                    @if (ViewBag.Registration != null)
                     {
                        @if (ViewBag.Registration.EmailAddress != null)
                         {
                            <p class="h3 mt-4">Registration successful!</p>
                         }
                     }
                </div>
            </div>
        </div>
    </section>


    <footer class="border-top text-muted small pt-4 mb-4">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-sm-4 mb-4">
                    <nav class="nav flex-column small">
                        <a class="nav-link py-1" asp-area="" asp-controller="home" asp-action="index">Featured Spells</a>
                        <a class="nav-link py-1" asp-area="" asp-controller="spellbook" asp-action="index">Visit the Spellbook</a>
                        <a class="nav-link py-1" asp-area="" asp-controller="spellbook" asp-action="castspell">Cast a Spell</a>
                        <a class="nav-link py-1" asp-area="" asp-controller="home" asp-action="contact">Send a Raven</a>
                        <a class="nav-link py-1" asp-area="" asp-controller="home" asp-action="privacy">Privacy</a>
                    </nav>
                </div>
                <div class="col text-center mb-4">
                    <div class="row align-items-center h2 text-dark justify-content-center">
                        <div class="col-auto">
                            <i class="fa fa-facebook"></i>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-linkedin"></i>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-instagram"></i>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-github"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-right mb-4">
                    &copy; 2020 - Book of Spells &amp; Illumination.
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    
    @if (ViewBag.Registration != null)
    {
        if (ViewBag.Registration.EmailAddress != null)
        {
            <script>jumpTo('newsletterSignup');</script>
        }
    }
</body>
</html>
