html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
    position: relative;
    min-height: 100%;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #222;
}

img {
    display: block;
    width: 100%;
}

button {
    text-transform: uppercase;
}

main section.mb-5 {
    margin-bottom: 6rem !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.small {
    font-weight: inherit;
}

.bg-darkgray {
    background-color: #555555;
}
.bg-lightgray {
    background-color: #e5e5e5;
}


/*
    NAVIGATION + LINKS
*/
nav {
    font-size: 1.2rem;
}
a,
.navbar-light .navbar-nav .nav-link {
    color: #222;
    text-transform: uppercase;
}
a:hover,
.navbar-light .nav-link:hover {
    color: #666;
}

main a {
    text-decoration: underline;
    font-size: 1rem;
}
main a.btn {
    text-decoration: none;
}

/*
    BUTTONS
*/
.btn.bg-darkgray:hover {
    background-color: #333;
    color: #f8f9fa !important;
}

.btn.bg-lightgray:hover {
    background-color: #aaa;
}

/*
    HEADING SECTIONS
*/
.jumbotron {
    border-radius: 0;
}
#jumbo-img img {
    max-height: 600px;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 100;
}
h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
    font-weight: 200;
}
h1, .h1 {
    font-size: 3rem;
}
h2, .h2 {
    font-size: 2.25rem;
}


/*
    FORM ELEMENTS
*/
form#createSpell,
form#message {
    max-width: 600px;
}
.form-control {
    width: 100%;
    max-width: 600px;
}


/*
    SPELL FORMATTING
*/
.card-text {
    font-size: 1.25rem;
}
.enchantment-text {
    white-space: pre-line;
}

/* The following overflow styles format the spell cards
   to display limited content with an ellipses.
   Credit: https://css-tricks.com/line-clampin/
*/
.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.overflow {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
