/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
nav {
    font-size: 1.2rem;
}

a,
.navbar-light .navbar-nav .nav-link {
    color: #222;
    text-transform: uppercase;
}

a:hover,
.navbar-light .nav-link:hover {
    color: #666;
}

main a {
    text-decoration: underline;
    font-size: 1rem;
}
main a.btn {
    text-decoration: none;
}

.btn.bg-darkgray:hover {
    background-color: #333;
    color: #f8f9fa !important;
}
.btn.bg-lightgray:hover {
    background-color: #aaa;
}

/*.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}*/

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
/*
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #222;
}

img {
    display: block;
    width: 100%;
}

button {
    text-transform: uppercase;
}

main section.mb-5 {
    margin-bottom: 6rem !important;
}

.small {
    font-weight: inherit;
}

.bg-darkgray {
    background-color: #555555;
}
.bg-lightgray {
    background-color: #e5e5e5;
}


/*
    HEADING SECTIONS
*/
.jumbotron {
    border-radius: 0;
}
#jumbo-img img {
    max-height: 600px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 100;
}
h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
    font-weight: 200;
}
h1, .h1 {
    font-size: 3rem;
}
h2, .h2 {
    font-size: 2.25rem;
}


/*
    FORM ELEMENTS
*/
form#createSpell,
form#contact {
    max-width: 600px;
}
.form-control {
    width: 100%;
    max-width: 600px;
}


/*
    SPELL CARDS
*/
.card-text {
    font-size: 1.25rem;
}