/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
nav {
    font-size: 1.2rem;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #222;
  text-transform: uppercase;
}

main a {
    text-decoration: underline;
    font-size: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-weight: 200;
    font-size: 1.5rem;
    color: #222;
}

img {
    display: block;
    width: 100%;
}

button {
    text-transform: uppercase;
}

.bg-darkgray {
    background-color: #555555;
}
.bg-lightgray {
    background-color: #e5e5e5;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
}


/*
    HEADING SECTIONS
*/
.jumbotron {
    border-radius: 0;
}
#jumbo-text {
    padding-left: 3rem;
    word-break: break-word;
}
#jumbo-img img {
    max-height: 600px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 200;
}
h1, .h1 {
    font-size: 3rem;
}
h2, .h2 {
    font-size: 2.25rem;
}


/*
    SPELL CARDS
*/
.card-text {
    font-size: 1.25rem;
}